# Common
*.log
*.env
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.DS_Store

__pycache__
*.pyc
*.pyo
*.pyd

# Node
node_modules/
build/
dist/
.cache/
.vite/
.npm/
.yarn/
coverage/
*.tgz

# Python
venv/
.env/
.migrations/

.env

# Git
.git/
.gitignore


.next/
frontend/.next/

public/images/
frontend/public/images/

node_modules
npm-debug.log
.env
.next
dist
coverage
.DS_Store


select vdisk file="C:\Users\Admin\AppData\Local\Docker\wsl\main\ext4.vhdx"