--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO neondb_owner;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO neondb_owner;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO neondb_owner;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO neondb_owner;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO neondb_owner;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO neondb_owner;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO neondb_owner;

--
-- Name: order_cartitem; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.order_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    owner_id bigint NOT NULL,
    product_id bigint NOT NULL,
    "timestamp" timestamp with time zone
);


ALTER TABLE public.order_cartitem OWNER TO neondb_owner;

--
-- Name: order_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.order_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_order; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.order_order (
    id bigint NOT NULL,
    buyer_name character varying(200) NOT NULL,
    buyer_whatsapp_contact character varying(25) NOT NULL,
    buyer_call_contact character varying(25),
    agreed_price integer,
    date_created timestamp with time zone,
    completed boolean NOT NULL,
    product_id bigint NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.order_order OWNER TO neondb_owner;

--
-- Name: order_order_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.order_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_category; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.product_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    icon character varying(20)
);


ALTER TABLE public.product_category OWNER TO neondb_owner;

--
-- Name: product_category_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.product_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_product; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.product_product (
    id bigint NOT NULL,
    name character varying(50),
    price numeric(10,2) NOT NULL,
    stock integer NOT NULL,
    image character varying(200),
    used boolean NOT NULL,
    extra_field jsonb,
    created date,
    sold boolean NOT NULL,
    datesold timestamp with time zone,
    owner_id bigint,
    request_id bigint,
    imagefile character varying(100),
    negotiable boolean NOT NULL,
    is_sticky boolean NOT NULL,
    sticky_timestamp timestamp with time zone,
    reserved boolean NOT NULL,
    CONSTRAINT product_product_stock_1237b5ef_check CHECK ((stock >= 0))
);


ALTER TABLE public.product_product OWNER TO neondb_owner;

--
-- Name: product_product_categories; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.product_product_categories (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.product_product_categories OWNER TO neondb_owner;

--
-- Name: product_product_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.product_product_categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_product_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_product_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.product_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: request_request; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.request_request (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    image character varying(200),
    description character varying(250),
    date_created timestamp with time zone,
    owner_id bigint,
    imagefile character varying(100)
);


ALTER TABLE public.request_request OWNER TO neondb_owner;

--
-- Name: request_request_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.request_request ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.request_request_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_chatpreview; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_chatpreview (
    id bigint NOT NULL,
    latest_message character varying(100) NOT NULL,
    "time" timestamp with time zone NOT NULL,
    receiver_id bigint NOT NULL,
    sender_id bigint NOT NULL,
    unread integer NOT NULL,
    actual_receiver_id bigint,
    actual_sender_id bigint
);


ALTER TABLE public.user_chatpreview OWNER TO neondb_owner;

--
-- Name: user_chatpreview_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_chatpreview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_chatpreview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    whatsapp character varying(20),
    call character varying(20),
    contact_violation_count integer NOT NULL,
    suspension_until timestamp with time zone,
    is_blacklisted boolean NOT NULL,
    is_suspended boolean NOT NULL,
    referral_points integer NOT NULL,
    CONSTRAINT user_customuser_contact_violation_count_check CHECK ((contact_violation_count >= 0))
);


ALTER TABLE public.user_customuser OWNER TO neondb_owner;

--
-- Name: user_customuser_categories; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_customuser_categories (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.user_customuser_categories OWNER TO neondb_owner;

--
-- Name: user_customuser_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_customuser_categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.user_customuser_groups OWNER TO neondb_owner;

--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_user_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.user_customuser_user_permissions OWNER TO neondb_owner;

--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_message; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_message (
    id bigint NOT NULL,
    content text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    receiver_id bigint,
    sender_id bigint,
    read boolean NOT NULL
);


ALTER TABLE public.user_message OWNER TO neondb_owner;

--
-- Name: user_message_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_userfcmtoken; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_userfcmtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.user_userfcmtoken OWNER TO neondb_owner;

--
-- Name: user_userfcmtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_userfcmtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_userfcmtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: webpush_group; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.webpush_group (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.webpush_group OWNER TO neondb_owner;

--
-- Name: webpush_group_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.webpush_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.webpush_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: webpush_pushinformation; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.webpush_pushinformation (
    id integer NOT NULL,
    group_id integer,
    subscription_id integer NOT NULL,
    user_id bigint
);


ALTER TABLE public.webpush_pushinformation OWNER TO neondb_owner;

--
-- Name: webpush_pushinformation_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.webpush_pushinformation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.webpush_pushinformation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: webpush_subscriptioninfo; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.webpush_subscriptioninfo (
    id integer NOT NULL,
    browser character varying(100) NOT NULL,
    endpoint character varying(500) NOT NULL,
    auth character varying(100) NOT NULL,
    p256dh character varying(100) NOT NULL,
    user_agent character varying(500) NOT NULL
);


ALTER TABLE public.webpush_subscriptioninfo OWNER TO neondb_owner;

--
-- Name: webpush_subscriptioninfo_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.webpush_subscriptioninfo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.webpush_subscriptioninfo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	user	message
7	user	userfcmtoken
8	user	customuser
9	user	chatroom
10	user	chatpreview
11	request	request
12	order	order
13	product	category
14	product	product
15	webpush	group
16	webpush	pushinformation
17	webpush	subscriptioninfo
18	order	cartitem
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: order_cartitem; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.order_cartitem (id, quantity, owner_id, product_id, "timestamp") FROM stdin;
19	1	2	35	2025-06-12 15:36:08.220217+00
\.


--
-- Data for Name: order_order; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: product_category; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.product_category (id, name, icon) FROM stdin;
1	Arts	≡ƒÄ¿
2	Basic Medical Sciences	≡ƒº¼
3	Business Administration	≡ƒÆ╝
4	Clinical Sciences	≡ƒ⌐║
5	Dental Sciences	≡ƒª╖
6	Education	≡ƒÄô
7	Engineering	≡ƒ¢á∩╕Å
8	Environmental Sciences	≡ƒî┐
9	Law	ΓÜû∩╕Å
10	Pharmacy	≡ƒÆè
11	Science	≡ƒö¼
12	Social Sciences	≡ƒºá
13	Books	≡ƒôÜ
14	Electronics & Gadgets	≡ƒô▒
15	Fashion	≡ƒæò
16	Home & Office	≡ƒÅá
17	Health & Beauty	≡ƒÆä
18	Supermarket	≡ƒ¢Æ
19	Gaming	≡ƒÄ«
\.


--
-- Data for Name: product_product; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: product_product_categories; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.product_product_categories (id, product_id, category_id) FROM stdin;
1	1	14
2	2	9
3	2	7
4	3	10
5	3	11
6	3	4
7	3	7
8	4	11
9	4	7
28	21	16
29	21	17
30	21	15
48	35	17
49	35	15
\.


--
-- Data for Name: request_request; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.request_request (id, name, image, description, date_created, owner_id, imagefile) FROM stdin;
1	Foldable Table	https://res.cloudinary.com/dwtzzlpcp/image/upload/v1747666278/k4rrevdms99c8nsowwdm.jpg	Any design is fine.	2025-05-19 14:51:19.226689+00	2	products_images/1.jpg
\.


--
-- Data for Name: user_chatpreview; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.user_chatpreview (id, latest_message, "time", receiver_id, sender_id, unread, actual_receiver_id, actual_sender_id) FROM stdin;
11	The transaction has been confirmed at 4000	2025-06-12 11:28:47.223053+00	6	2	0	2	6
\.


--
-- Data for Name: user_customuser; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: user_customuser_categories; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.user_customuser_categories (id, customuser_id, category_id) FROM stdin;
1	2	7
\.


--
-- Data for Name: user_customuser_groups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.user_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: user_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.user_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: user_message; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.user_message (id, content, "timestamp", receiver_id, sender_id, read) FROM stdin;
115	Hello	2025-06-12 11:23:30.139159+00	6	2	t
116	Watsup	2025-06-12 11:24:20.536654+00	2	6	t
117	Please i need the text for 3500, i have a test tomorrow	2025-06-12 11:24:57.933407+00	6	2	t
118	Least price is 4500	2025-06-12 11:25:30.021386+00	2	6	t
119	Please do 4000 	2025-06-12 11:25:58.296269+00	6	2	t
120	The transaction has been confirmed at 4000	2025-06-12 11:28:36.221914+00	2	6	t
121	The transaction has been confirmed at 4000	2025-06-12 11:28:47.52491+00	2	6	t
\.


--
-- Data for Name: user_userfcmtoken; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: webpush_group; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.webpush_group (id, name) FROM stdin;
\.


--
-- Data for Name: webpush_pushinformation; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.webpush_pushinformation (id, group_id, subscription_id, user_id) FROM stdin;
\.


--
-- Data for Name: webpush_subscriptioninfo; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.webpush_subscriptioninfo (id, browser, endpoint, auth, p256dh, user_agent) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 170, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 63, true);


--
-- Name: order_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.order_cartitem_id_seq', 20, true);


--
-- Name: order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.order_order_id_seq', 27, true);


--
-- Name: product_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.product_category_id_seq', 19, true);


--
-- Name: product_product_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.product_product_categories_id_seq', 49, true);


--
-- Name: product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.product_product_id_seq', 35, true);


--
-- Name: request_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.request_request_id_seq', 1, true);


--
-- Name: user_chatpreview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_chatpreview_id_seq', 11, true);


--
-- Name: user_customuser_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_customuser_categories_id_seq', 1, true);


--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_customuser_groups_id_seq', 1, false);


--
-- Name: user_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_customuser_id_seq', 12, true);


--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_customuser_user_permissions_id_seq', 1, false);


--
-- Name: user_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_message_id_seq', 121, true);


--
-- Name: user_userfcmtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_userfcmtoken_id_seq', 23, true);


--
-- Name: webpush_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.webpush_group_id_seq', 1, false);


--
-- Name: webpush_pushinformation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.webpush_pushinformation_id_seq', 1, false);


--
-- Name: webpush_subscriptioninfo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.webpush_subscriptioninfo_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: order_cartitem order_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.order_cartitem
    ADD CONSTRAINT order_cartitem_pkey PRIMARY KEY (id);


--
-- Name: order_order order_order_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.order_order
    ADD CONSTRAINT order_order_pkey PRIMARY KEY (id);


--
-- Name: product_category product_category_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_category
    ADD CONSTRAINT product_category_name_key UNIQUE (name);


--
-- Name: product_category product_category_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_category
    ADD CONSTRAINT product_category_pkey PRIMARY KEY (id);


--
-- Name: product_product_categories product_product_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_product_categories
    ADD CONSTRAINT product_product_categories_pkey PRIMARY KEY (id);


--
-- Name: product_product_categories product_product_categories_product_id_category_id_fdd1154c_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_product_categories
    ADD CONSTRAINT product_product_categories_product_id_category_id_fdd1154c_uniq UNIQUE (product_id, category_id);


--
-- Name: product_product product_product_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_pkey PRIMARY KEY (id);


--
-- Name: request_request request_request_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_request
    ADD CONSTRAINT request_request_pkey PRIMARY KEY (id);


--
-- Name: user_chatpreview user_chatpreview_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_chatpreview
    ADD CONSTRAINT user_chatpreview_pkey PRIMARY KEY (id);


--
-- Name: user_customuser_categories user_customuser_categori_customuser_id_category_i_15ad0717_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_categories
    ADD CONSTRAINT user_customuser_categori_customuser_id_category_i_15ad0717_uniq UNIQUE (customuser_id, category_id);


--
-- Name: user_customuser_categories user_customuser_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_categories
    ADD CONSTRAINT user_customuser_categories_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_email_2292cf6d_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_email_2292cf6d_uniq UNIQUE (email);


--
-- Name: user_customuser_groups user_customuser_groups_customuser_id_group_id_e0a2f621_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_customuser_id_group_id_e0a2f621_uniq UNIQUE (customuser_id, group_id);


--
-- Name: user_customuser_groups user_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_pkey PRIMARY KEY (id);


--
-- Name: user_customuser_user_permissions user_customuser_user_per_customuser_id_permission_a5da865d_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_per_customuser_id_permission_a5da865d_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: user_customuser_user_permissions user_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_username_key UNIQUE (username);


--
-- Name: user_message user_message_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_message
    ADD CONSTRAINT user_message_pkey PRIMARY KEY (id);


--
-- Name: user_userfcmtoken user_userfcmtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_userfcmtoken
    ADD CONSTRAINT user_userfcmtoken_pkey PRIMARY KEY (id);


--
-- Name: webpush_group webpush_group_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.webpush_group
    ADD CONSTRAINT webpush_group_name_key UNIQUE (name);


--
-- Name: webpush_group webpush_group_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.webpush_group
    ADD CONSTRAINT webpush_group_pkey PRIMARY KEY (id);


--
-- Name: webpush_pushinformation webpush_pushinformation_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.webpush_pushinformation
    ADD CONSTRAINT webpush_pushinformation_pkey PRIMARY KEY (id);


--
-- Name: webpush_subscriptioninfo webpush_subscriptioninfo_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.webpush_subscriptioninfo
    ADD CONSTRAINT webpush_subscriptioninfo_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: order_cartitem_owner_id_6490c283; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX order_cartitem_owner_id_6490c283 ON public.order_cartitem USING btree (owner_id);


--
-- Name: order_cartitem_product_id_ad323e40; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX order_cartitem_product_id_ad323e40 ON public.order_cartitem USING btree (product_id);


--
-- Name: order_order_product_id_fb1319ca; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX order_order_product_id_fb1319ca ON public.order_order USING btree (product_id);


--
-- Name: product_category_name_905278b8_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX product_category_name_905278b8_like ON public.product_category USING btree (name varchar_pattern_ops);


--
-- Name: product_product_categories_category_id_edc0e025; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX product_product_categories_category_id_edc0e025 ON public.product_product_categories USING btree (category_id);


--
-- Name: product_product_categories_product_id_f73e32d0; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX product_product_categories_product_id_f73e32d0 ON public.product_product_categories USING btree (product_id);


--
-- Name: product_product_owner_id_af246414; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX product_product_owner_id_af246414 ON public.product_product USING btree (owner_id);


--
-- Name: product_product_request_id_c0c39da9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX product_product_request_id_c0c39da9 ON public.product_product USING btree (request_id);


--
-- Name: request_request_owner_id_c28b1e45; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX request_request_owner_id_c28b1e45 ON public.request_request USING btree (owner_id);


--
-- Name: user_chatpreview_actual_receiver_id_c62b9a6f; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_chatpreview_actual_receiver_id_c62b9a6f ON public.user_chatpreview USING btree (actual_receiver_id);


--
-- Name: user_chatpreview_actual_sender_id_51d45b13; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_chatpreview_actual_sender_id_51d45b13 ON public.user_chatpreview USING btree (actual_sender_id);


--
-- Name: user_chatpreview_receiver_id_4ad8aba8; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_chatpreview_receiver_id_4ad8aba8 ON public.user_chatpreview USING btree (receiver_id);


--
-- Name: user_chatpreview_sender_id_af4e2864; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_chatpreview_sender_id_af4e2864 ON public.user_chatpreview USING btree (sender_id);


--
-- Name: user_customuser_categories_category_id_e1a44751; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_categories_category_id_e1a44751 ON public.user_customuser_categories USING btree (category_id);


--
-- Name: user_customuser_categories_customuser_id_5e2259fa; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_categories_customuser_id_5e2259fa ON public.user_customuser_categories USING btree (customuser_id);


--
-- Name: user_customuser_email_2292cf6d_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_email_2292cf6d_like ON public.user_customuser USING btree (email varchar_pattern_ops);


--
-- Name: user_customuser_groups_customuser_id_192632a7; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_groups_customuser_id_192632a7 ON public.user_customuser_groups USING btree (customuser_id);


--
-- Name: user_customuser_groups_group_id_bcbc9e48; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_groups_group_id_bcbc9e48 ON public.user_customuser_groups USING btree (group_id);


--
-- Name: user_customuser_user_permissions_customuser_id_4552d9cc; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_user_permissions_customuser_id_4552d9cc ON public.user_customuser_user_permissions USING btree (customuser_id);


--
-- Name: user_customuser_user_permissions_permission_id_e57e8b9a; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_user_permissions_permission_id_e57e8b9a ON public.user_customuser_user_permissions USING btree (permission_id);


--
-- Name: user_customuser_username_24be6f7e_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_customuser_username_24be6f7e_like ON public.user_customuser USING btree (username varchar_pattern_ops);


--
-- Name: user_message_receiver_id_71dba6ed; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_message_receiver_id_71dba6ed ON public.user_message USING btree (receiver_id);


--
-- Name: user_message_sender_id_34eb75e8; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_message_sender_id_34eb75e8 ON public.user_message USING btree (sender_id);


--
-- Name: user_userfcmtoken_user_id_34360064; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_userfcmtoken_user_id_34360064 ON public.user_userfcmtoken USING btree (user_id);


--
-- Name: webpush_group_name_55a9d24d_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX webpush_group_name_55a9d24d_like ON public.webpush_group USING btree (name varchar_pattern_ops);


--
-- Name: webpush_pushinformation_group_id_262dcc9a; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX webpush_pushinformation_group_id_262dcc9a ON public.webpush_pushinformation USING btree (group_id);


--
-- Name: webpush_pushinformation_subscription_id_7989aa34; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX webpush_pushinformation_subscription_id_7989aa34 ON public.webpush_pushinformation USING btree (subscription_id);


--
-- Name: webpush_pushinformation_user_id_5e083b7f; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX webpush_pushinformation_user_id_5e083b7f ON public.webpush_pushinformation USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_cartitem order_cartitem_owner_id_6490c283_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.order_cartitem
    ADD CONSTRAINT order_cartitem_owner_id_6490c283_fk_user_customuser_id FOREIGN KEY (owner_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_cartitem order_cartitem_product_id_ad323e40_fk_product_product_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.order_cartitem
    ADD CONSTRAINT order_cartitem_product_id_ad323e40_fk_product_product_id FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_order order_order_product_id_fb1319ca_fk_product_product_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.order_order
    ADD CONSTRAINT order_order_product_id_fb1319ca_fk_product_product_id FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product_categories product_product_cate_category_id_edc0e025_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_product_categories
    ADD CONSTRAINT product_product_cate_category_id_edc0e025_fk_product_c FOREIGN KEY (category_id) REFERENCES public.product_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product_categories product_product_cate_product_id_f73e32d0_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_product_categories
    ADD CONSTRAINT product_product_cate_product_id_f73e32d0_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product product_product_owner_id_af246414_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_owner_id_af246414_fk_user_customuser_id FOREIGN KEY (owner_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product product_product_request_id_c0c39da9_fk_request_request_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_request_id_c0c39da9_fk_request_request_id FOREIGN KEY (request_id) REFERENCES public.request_request(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: request_request request_request_owner_id_c28b1e45_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_request
    ADD CONSTRAINT request_request_owner_id_c28b1e45_fk_user_customuser_id FOREIGN KEY (owner_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_chatpreview user_chatpreview_actual_receiver_id_c62b9a6f_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_chatpreview
    ADD CONSTRAINT user_chatpreview_actual_receiver_id_c62b9a6f_fk_user_cust FOREIGN KEY (actual_receiver_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_chatpreview user_chatpreview_actual_sender_id_51d45b13_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_chatpreview
    ADD CONSTRAINT user_chatpreview_actual_sender_id_51d45b13_fk_user_cust FOREIGN KEY (actual_sender_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_chatpreview user_chatpreview_receiver_id_4ad8aba8_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_chatpreview
    ADD CONSTRAINT user_chatpreview_receiver_id_4ad8aba8_fk_user_customuser_id FOREIGN KEY (receiver_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_chatpreview user_chatpreview_sender_id_af4e2864_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_chatpreview
    ADD CONSTRAINT user_chatpreview_sender_id_af4e2864_fk_user_customuser_id FOREIGN KEY (sender_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_categories user_customuser_cate_category_id_e1a44751_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_categories
    ADD CONSTRAINT user_customuser_cate_category_id_e1a44751_fk_product_c FOREIGN KEY (category_id) REFERENCES public.product_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_categories user_customuser_cate_customuser_id_5e2259fa_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_categories
    ADD CONSTRAINT user_customuser_cate_customuser_id_5e2259fa_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_grou_customuser_id_192632a7_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_grou_customuser_id_192632a7_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_customuser_id_4552d9cc_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_customuser_id_4552d9cc_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_permission_id_e57e8b9a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permission_id_e57e8b9a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_message user_message_receiver_id_71dba6ed_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_message
    ADD CONSTRAINT user_message_receiver_id_71dba6ed_fk_user_customuser_id FOREIGN KEY (receiver_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_message user_message_sender_id_34eb75e8_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_message
    ADD CONSTRAINT user_message_sender_id_34eb75e8_fk_user_customuser_id FOREIGN KEY (sender_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_userfcmtoken user_userfcmtoken_user_id_34360064_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_userfcmtoken
    ADD CONSTRAINT user_userfcmtoken_user_id_34360064_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: webpush_pushinformation webpush_pushinformation_group_id_262dcc9a_fk; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.webpush_pushinformation
    ADD CONSTRAINT webpush_pushinformation_group_id_262dcc9a_fk FOREIGN KEY (group_id) REFERENCES public.webpush_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: webpush_pushinformation webpush_pushinformation_subscription_id_7989aa34_fk; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.webpush_pushinformation
    ADD CONSTRAINT webpush_pushinformation_subscription_id_7989aa34_fk FOREIGN KEY (subscription_id) REFERENCES public.webpush_subscriptioninfo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: webpush_pushinformation webpush_pushinformation_user_id_5e083b7f_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.webpush_pushinformation
    ADD CONSTRAINT webpush_pushinformation_user_id_5e083b7f_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

